@import "tailwindcss";

@theme {
    --color-foreground: var(--foreground);
    --color-foreground-highlight: var(--foreground-highlight);
    --color-foreground-muted: var(--foreground-muted);

    --color-border: var(--border);

    --color-panel-dark: var(--panel-dark);
    --color-panel-light: var(--panel-light);

    --color-canvas-background: var(--canvas-background);
    --color-canvas-dots: var(--canvas-dots);
    --color-component-fill: var(--component-fill);
    --color-component-stroke: var(--component-stroke);

    --animate-grow-in: grow-in var(--default-transition-duration)
        var(--default-transition-timing-function);
    --animate-grow-out: grow-out var(--default-transition-duration)
        var(--default-transition-timing-function);

    @keyframes grow-in {
        from {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-width: 0;
            overflow: hidden;
        }

        to {
            height: var(--reka-accordion-content-height);
            overflow: hidden;
        }
    }

    @keyframes grow-out {
        from {
            height: var(--reka-accordion-content-height);
            overflow: hidden;
        }

        to {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-width: 0;
            overflow: hidden;
        }
    }

    --animate-fade-in: fade-in var(--default-transition-duration)
        var(--default-transition-timing-function);
    --animate-fade-out: fade-out var(--default-transition-duration)
        var(--default-transition-timing-function);

    @keyframes fade-in {
        from {
            opacity: 0;
            transform-origin: bottom left;
            transform: scale(0.95);
        }

        to {
            opacity: 1;
            transform-origin: bottom left;
            transform: scale(1);
        }
    }

    @keyframes fade-out {
        from {
            opacity: 1;
            transform-origin: bottom left;
            transform: scale(1);
        }

        to {
            opacity: 0;
            transform-origin: bottom left;
            transform: scale(0.95);
        }
    }
}

@utility grid-cols-fill-* {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, --spacing(--value(integer))), 1fr));
}

@layer base {
    html[data-theme="light"] {
        --foreground: var(--color-zinc-800);
        --foreground-highlight: var(--color-zinc-950);
        --foreground-muted: var(--color-zinc-500);

        --border: var(--color-zinc-300);

        --panel-dark: var(--color-zinc-100);
        --panel-light: var(--color-zinc-50);

        --canvas-background: var(--color-zinc-200);
        --canvas-dots: var(--color-zinc-800);
        --component-fill: var(--color-white);
        --component-stroke: var(--color-zinc-600);
    }

    html[data-theme="light-contrast"] {
        --foreground: var(--color-black);
        --foreground-highlight: var(--color-black);
        --foreground-muted: var(--color-zinc-800);

        --border: var(--color-zinc-700);

        --panel-dark: var(--color-zinc-200);
        --panel-light: var(--color-white);

        --canvas-background: var(--color-white);
        --canvas-dots: var(--color-black);
        --component-fill: var(--color-white);
        --component-stroke: var(--color-black);
    }

    html[data-theme="dark"] {
        --foreground: var(--color-zinc-200);
        --foreground-highlight: var(--color-white);
        --foreground-muted: var(--color-zinc-400);

        --border: var(--color-zinc-700);

        --panel-dark: var(--color-zinc-900);
        --panel-light: var(--color-zinc-800);

        --canvas-background: var(--color-zinc-950);
        --canvas-dots: var(--color-zinc-500);
        --component-fill: var(--color-zinc-200);
        --component-stroke: var(--color-zinc-500);
    }

    html[data-theme="dark-contrast"] {
        --foreground: var(--color-white);
        --foreground-highlight: var(--color-white);
        --foreground-muted: var(--color-white);

        --border: var(--color-zinc-400);

        --panel-dark: var(--color-zinc-950);
        --panel-light: var(--color-zinc-800);

        --canvas-background: var(--color-black);
        --canvas-dots: var(--color-zinc-200);
        --component-fill: var(--color-white);
        --component-stroke: var(--color-zinc-500);
    }

    ::view-transition-old(root) {
        animation-delay: 500ms;
    }
    ::view-transition-new(root) {
        animation: 500ms circle-in cubic-bezier(0.33, 1, 0.68, 1);
    }

    @keyframes circle-in {
        from {
            clip-path: circle(0% at 0% 100%);
        }

        to {
            clip-path: circle(hypot(100vw, 100lvh) at 0% 100%);
        }
    }

    body {
        @apply bg-canvas-background text-foreground;
    }

    * {
        @apply border-border -outline-offset-1 outline-blue-500;
        scrollbar-width: none;
    }

    :focus-visible {
        @apply z-50 outline;
    }
}
