@import "tailwindcss";

@layer base {
    html {
        --scrollbar-bg: var(--color-zinc-900);
        --scrollbar-thumb: var(--color-zinc-700);
    }

    * {
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
        scrollbar-width: none;
    }
}
