@import "tailwindcss";

@theme {
    --animate-grow-in: grow-in var(--default-transition-duration)
        var(--default-transition-timing-function);
    --animate-grow-out: grow-out var(--default-transition-duration)
        var(--default-transition-timing-function);

    @keyframes grow-in {
        from {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-width: 0;
            overflow: hidden;
        }

        to {
            height: var(--reka-accordion-content-height);
            overflow: hidden;
        }
    }

    @keyframes grow-out {
        from {
            height: var(--reka-accordion-content-height);
            overflow: hidden;
        }

        to {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-width: 0;
            overflow: hidden;
        }
    }
}

@utility grid-cols-fill-* {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, --spacing(--value(integer))), 1fr));
}

@layer base {
    html {
        --scrollbar-bg: var(--color-zinc-900);
        --scrollbar-thumb: var(--color-zinc-700);
    }

    * {
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
        scrollbar-width: none;
    }

    :focus-visible {
        @apply z-50 outline -outline-offset-1 outline-blue-500;
    }
}
